/Server/bin/Debug/net5.0/Newtonsoft.Json.dll
/Server/bin/Debug/net5.0/NihilNetwork.dll
/Server/bin/Debug/net5.0/NihilNetwork.pdb
/Server/bin/Debug/net5.0/ref/rpg-base-template-server.dll
/Server/bin/Debug/net5.0/rpg-base-template-server.deps.json
/Server/bin/Debug/net5.0/rpg-base-template-server.dll
/Server/bin/Debug/net5.0/rpg-base-template-server.exe
/Server/bin/Debug/net5.0/rpg-base-template-server.pdb
/Server/bin/Debug/net5.0/rpg-base-template-server.runtimeconfig.dev.json
/Server/bin/Debug/net5.0/rpg-base-template-server.runtimeconfig.json
/Server/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Server/obj/Debug/net5.0/apphost.exe
/Server/obj/Debug/net5.0/ref/rpg-base-template-server.dll
/Server/obj/Debug/net5.0/rpg-base-template-server.AssemblyInfo.cs
/Server/obj/Debug/net5.0/rpg-base-template-server.AssemblyInfoInputs.cache
/Server/obj/Debug/net5.0/rpg-base-template-server.GeneratedMSBuildEditorConfig.editorconfig
/Server/obj/Debug/net5.0/rpg-base-template-server.assets.cache
/Server/obj/Debug/net5.0/rpg-base-template-server.csproj.AssemblyReference.cache
/Server/obj/Debug/net5.0/rpg-base-template-server.csproj.CopyComplete
/Server/obj/Debug/net5.0/rpg-base-template-server.csproj.CoreCompileInputs.cache
/Server/obj/Debug/net5.0/rpg-base-template-server.csproj.FileListAbsolute.txt
/Server/obj/Debug/net5.0/rpg-base-template-server.dll
/Server/obj/Debug/net5.0/rpg-base-template-server.genruntimeconfig.cache
/Server/obj/Debug/net5.0/rpg-base-template-server.pdb
/Server/obj/project.assets.json
/Server/obj/project.nuget.cache
/Server/obj/rpg-base-template-server.csproj.nuget.dgspec.json
/Server/obj/rpg-base-template-server.csproj.nuget.g.props
/Server/obj/rpg-base-template-server.csproj.nuget.g.targets
/Client/bin/Debug/net5.0/Newtonsoft.Json.dll
/Client/bin/Debug/net5.0/NihilNetwork.dll
/Client/bin/Debug/net5.0/NihilNetwork.pdb
/Client/bin/Debug/net5.0/ref/rpg-base-template-client.dll
/Client/bin/Debug/net5.0/rpg-base-template-client.deps.json
/Client/bin/Debug/net5.0/rpg-base-template-client.dll
/Client/bin/Debug/net5.0/rpg-base-template-client.exe
/Client/bin/Debug/net5.0/rpg-base-template-client.pdb
/Client/bin/Debug/net5.0/rpg-base-template-client.runtimeconfig.dev.json
/Client/bin/Debug/net5.0/rpg-base-template-client.runtimeconfig.json
/Client/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Client/obj/Debug/net5.0/apphost.exe
/Client/obj/Debug/net5.0/ref/rpg-base-template-client.dll
/Client/obj/Debug/net5.0/rpg-base-template-client.AssemblyInfo.cs
/Client/obj/Debug/net5.0/rpg-base-template-client.AssemblyInfoInputs.cache
/Client/obj/Debug/net5.0/rpg-base-template-client.GeneratedMSBuildEditorConfig.editorconfig
/Client/obj/Debug/net5.0/rpg-base-template-client.assets.cache
/Client/obj/Debug/net5.0/rpg-base-template-client.csproj.AssemblyReference.cache
/Client/obj/Debug/net5.0/rpg-base-template-client.csproj.CopyComplete
/Client/obj/Debug/net5.0/rpg-base-template-client.csproj.CoreCompileInputs.cache
/Client/obj/Debug/net5.0/rpg-base-template-client.csproj.FileListAbsolute.txt
/Client/obj/Debug/net5.0/rpg-base-template-client.dll
/Client/obj/Debug/net5.0/rpg-base-template-client.genruntimeconfig.cache
/Client/obj/Debug/net5.0/rpg-base-template-client.pdb
/Client/obj/project.assets.json
/Client/obj/project.nuget.cache
/Client/obj/rpg-base-template-client.csproj.nuget.dgspec.json
/Client/obj/rpg-base-template-client.csproj.nuget.g.props
/Client/obj/rpg-base-template-client.csproj.nuget.g.targets
